@mixin box {
  padding: 16px;
  margin: 6px;
  border: 1px solid lightgray;
  box-shadow: 0 0 3px 0px lightgray;
  border-radius: 5px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 5%;
}

body > h1 {
  font-size: 50px;
  text-align: center;
}

.train-list {
  display: flex;
  flex-direction: column;
}

$trainGroupHeaderMarginBottom: 12px;
.train-group {

  .group-header {
    display: flex;
    flex-direction: row;
    @include box;
    margin-top: 10px;

    h2 {
      font-size: 45px;
      margin: 10px 5px 0 20px;
      line-height: 40px;
    }

    .type {
      width: 180px;
    }

    .status, .type {
      display: flex;
      flex-direction: row;

      align-self: flex-end;
      margin-bottom: $trainGroupHeaderMarginBottom;
      font-size: 14px;

      & > * {
        align-self: flex-end;

        span:last-child {
          font-size: 25px;
          width: 50px;
          display: inline-block;
        }
      }
    }
  }

  .train-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
  }
}

.train {
  flex: 1 1 110px;
  max-width: 160px;
  @include box;

  h3 {
    margin: 5px 0;
    text-align: center;

    &.commuter {
      font-size: 30px;
      margin: -5px 0 0;
    }
  }

  p {
    text-align: center;

    &.tight {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.late {
    background-color: lightcoral;
  }
  &.lightly-late {
    background-color: #F0E380;
  }
  &.on-schedule {
    background-color: darkseagreen;
  }
  &.cancelled {
    background-color: lightgray;
  }
}

button.clean {
  background: none;
  border: none;
}
