@mixin box {
  padding: 16px;
  margin: 6px;
  border: 1px solid lightgray;
  box-shadow: 0 0 3px 0px lightgray;
  border-radius: 5px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 5%;
}

body > h1 {
  font-size: 50px;
  text-align: center;
}

.train-list {
  display: flex;
  flex-direction: column;
}

$trainGroupHeaderMarginBottom: 12px;
.train-group {

  .group-header {
    display: flex;
    flex-direction: row;
    @include box;
    margin-top: 10px;

    h2 {
      font-size: 45px;
      margin: 10px 5px 0 20px;
      line-height: 40px;
    }

    .type {
      width: 180px;
    }

    .status, .type {
      display: flex;
      flex-direction: row;

      align-self: flex-end;
      margin-bottom: $trainGroupHeaderMarginBottom;
      font-size: 14px;

      & > * {
        align-self: flex-end;

        span:last-child {
          font-size: 25px;
          width: 40px;
          display: inline-block;
        }
      }
    }

    .status > span {
      padding-right: 30px;
    }

    .graph {
      flex-grow: 1;
      margin: -0.5em 0;

      display: flex;

      div {
        border-left: 1px solid lightGray;
        box-sizing: border-box;
        display: flex;

        &:nth-child(1) {
          background-color: darkseagreen;
        }
        &:nth-child(2) {
          background-color: #F0E380;
        }
        &:nth-child(3) {
          background-color: lightcoral;
        }
        &:nth-child(4) {
          background-color: lightgray;
        }
        &:nth-child(5) {
          background-color: white;
        }

        p {
          align-self: center;
          font-size: 25px;
          margin-left: 10px;
          position: relative;
          display: none;
        }

        &:hover p {
          color: #333 !important;
        }
        &:hover {
          z-index: 100;
        }
      }

    }

    & .graph:hover div.graph-part p {
      color: #aaa;
    }

    &:hover div.graph-part p {
      display: block;
    }
  }

  .train-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
  }
}

.train {
  flex: 1 1 110px;
  max-width: 160px;
  @include box;

  cursor: pointer;

  h3 {
    margin: 5px 0;
    text-align: center;

    &.commuter {
      font-size: 30px;
      margin: -5px 0 0;
    }
  }

  p {
    text-align: center;

    &.tight {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  background-color: white;
  &.late {
    background-color: lightcoral;
  }
  &.lightly-late {
    background-color: #F0E380;
  }
  &.on-schedule {
    background-color: darkseagreen;
  }
  &.cancelled {
    background-color: lightgray;
  }

  .map {
    width: 400px;
    height: 300px;
    margin-top: 20px;
    background-color: aquamarine;
  }
}

.train-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  .train-view-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
  }

  .train {
    z-index: 2;

    h3, P {
      font-size: 150%;
    }

    flex: none;
    max-width: none;
  }
}

button.clean {
  background: none;
  border: none;
}
